

.main-footer{
    display: flex;
    align-items: center;

    height: 5vh;

    background-color: var(--color-bg-footer);
    border-top: 1px solid var(--color-border);

    padding: 0 80px;
}

.footer-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copyright, .footer-links a {
  font-size: 0.75rem;
  color: var(--color-text-muted);
  text-decoration: none;
}

.footer-links {
  display: flex;
  gap: 20px;
}

.social-icons {
  display: flex;
  gap: 15px;
  color: var(--color-text-muted);
  cursor: pointer;
}

.social-icons svg:hover {
  color: var(--color-primary);
  transition: color 0.3s ease;
}